/*@font-face {
    font-family: "Helvetica Neue";
    src: url('helveticaneue.ttf');
}*/

/*html *
{
    font-family: "Helvetica Neue" !important;
}*/

@media screen and (max-width: 1024px) {
    #rightSideBar {
        display:none
    }
    .col-md-12{
        padding-right: 0;
    }
    .col-12{
        padding-right: 0;
    }

    /*amo{
        font-size: 14px;
    }*/
    #evDetailRd{
        margin-left: 0px;
        margin-top: 10px;
    }
    #mainDiv, #divOpenL, #eventListDiv, #newcontent, #divRL{
        padding-right: 0px;
    }
    #payEventDesc{
        height: 300px;
    }

    #eventListDiv{
        padding-right: 0;
        padding-left: 0;
    }
}

@media screen and (min-width: 1024px) {
    #evDetailRd{
        margin-left: 10px;
    }
    #payEventDesc{
        height: 220px;
    }
}


nav2 > .nav.nav-tabs{

    border: none;
    color:#fff;
    /*background:#272e38;*/
    border-radius:0;

}
nav2 > div a.nav-item.nav-link

{
    border: none;
    /*padding: 10px 55px;*/
    color:#fff;
    background:#3C6FA6;
    border-radius:0;
}

.tab-content{
    /*background: #fdfdfd;*/
    line-height: 25px;
    /*border: 1px solid #ddd;*/
    /*border-top:5px solid #e74c3c;
    border-bottom:5px solid #e74c3c;*/
    padding:30px 25px;
}

nav2 > div a.nav-item.nav-link:hover,
nav2 > div a.nav-item.nav-link:focus,
nav2 > div a.nav-item.nav-link.active
{
    border: none;
    background: #005175;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}


.body{
    background-color: #005186;
    font: bold 14px inherit;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.divBorders{
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10px;
    border-bottom: 1px solid #3C6FA6;
    border-top: 1px solid #3C6FA6
}


.labelIndex{
    color: #7AA3D2;
    text-decoration: underline;
}

.paddingOff{
    padding-right: 0px;
    padding-left: 0px
}

.login .modal-header {
    border: 0 none;
    padding: 15px 15px 15px;
    background-color: #005186;
    padding: 11px 15px;
}

.slowDown {
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 9999;
}

/* Class to make image responsive */
.img-fluid{
    max-width: 80%;
    height: auto;
}

#logo{
    max-height: 100px;
    content : url('../img/newLogo.png');
    margin-top: 30px;
}

.loading{
    /*max-height: 100px;*/

    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: whitesmoke;
    z-index: 9999;
}

#loading {
    position: fixed;
    display: grid;
    justify-content: center;
    align-content: center;
    background: rgba(1, 1, 1, 0.8);
    z-index: 99999;
    visibility: hidden;
}

#smallLogo{
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 60px;
    content : url('../img/invertNewLogo.png');
}

#imgLogo{
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 60px;
    content : url('../img/top_icon_negative.png');
}

#logoBottom{
    margin-top: 10px;
    margin-bottom: 30px;
    max-height: 20px;
    content : url('../img/logo.png');
}

.registerModal {
    margin-top: 10%;
}
.borders15 {
    border-radius: 15px;
}
.borders30 {
    border-radius: 30px;
}
.registerProp{
    max-width: 600px;
    max-height: 500px;
}
.topBorders15 {
    border-radius: 15px 15px 0px 0px
}

.whiteBack {
    background-color: white;
}
.white {
    color: white;
}

.green {
    color: #00B9A9;

}
.blueBack {
    background-color: #3C6FA6;
}

.marginAuto {
    margin: auto;
}



.buttonLogin {
    margin-top: 20px;
    background-color: #3C6FA6;
    border-color: white;
    padding: 0.375rem 2.75rem;
    font: bold 14px Arial;
    color: white;
}

.blueButton {
    margin-top: 0px;
    background-color: #3C6FA6;
    border-color: #3C6FA6;
    padding: 0.375rem 2.75rem;
    color: white;
}

.redButton {
    margin-top: 0px;
    background-color: red;
    border-color: red;
    padding: 0.375rem 2.75rem;
    color: white;
}

.grayButton {
    margin-top: 0px;
    background-color: #A4A4A4;
    border-color: #A4A4A4;
    padding: 0.375rem 2.75rem;
    color: white;
}


.greenButton {
    margin-top: 0px;
    background-color: #36A88F;
    border-color: #36A88F;
    padding: 0.375rem 2.75rem;
    color: white;
}

.whiteButton {
    margin-top: 0px;
    background-color: #FFFFFF;
    border: 1px solid #36A88F;
    padding: 0.375rem 2.75rem;
    color: #36A88F;
}

.inverseBlueButton {
    margin-top: 0px;
    background-color: #FFFF;
    border-color: #3C6FA6;
    color: black;
    padding: 0.375rem 2.75rem;
}

.buttonStyle {
    margin-top: 20px;
    background-color: #3C6FA6;
    border-color: #55EAC9;
    padding: 0.375rem 2.75rem;
    color: white;
}


#divLabelRegistration {
    margin-top: 10px;
    color: #3C6FA6;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    /*content: "&#10004;";*/
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    /*content: "X";*/
}


/*body {
    margin: 10px;
}*/




/********************************* END LOGIN PAGE ************************************/

/***************************************** MAIN.HTML **************************/

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #005186;
    position: fixed;
    height: 100%;
    overflow: auto;

}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #55EAC9;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: auto;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

/****************************************************************************/
/******************************************* slider ***********************/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #55EAC9;
}

input:focus + .slider {
    box-shadow: 0 0 1px #55EAC9;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}